
# export("dg") # "newCoCoTestObject", 

exportClasses("CoCoTestClass")

exportMethods("setSlots", "initialize", "label", "width", "dg",
              "testEdge", "subModifyModel", "modifyModel",
              "setGraphComponents", "graphComponents",
              "setGraphEdges", "graphEdges")
