import(CoCoCore)

# Variables missing:
#    '.current.coco'
# Functions missing:
#    'extractData'

export(# CoCoOldData:
        # ".return.object.model.number", ".return.type", ".set.coco.value", 
        # ".recover.model", ".object.of.thing", 
        "cutpoints", "or.reject.cases", 
        "or.select.cases", "read.data", "read.factors", "read.list", 
        "read.names", "read.observations", "read.q.list", "read.q.table", 
        "read.specification", "read.table.coco", "redefine.factor", 
        "reject.cases", "select.cases", ".set.asymptotic", "set.data.file", 
        ".set.em.epsilon", ".set.em.initial", ".set.em.max.iterations", 
        ".set.exact.epsilon", ".set.exact.test", ".set.ips.epsilon", 
        ".set.ips.max.iterations", ".set.ips.stop.criterion", 
        ".set.list.of.number.of.tables", ".set.number.of.tables", 
        "set.observations.file", "set.output", ".set.page.formats", 
        ".set.paging.length", ".set.power.lambda", ".set.print.formats", 
        ".set.seed.coco", "set.specification.file", ".set.table.formats", 
        ".set.test", ".set.test.formats", "skip.missing", "source.coco")

